APP_ENVIRONMENT=development
PORT=1304

NATS_URL=0.0.0.0:4222
JETSTREAM_NAME=categories
JETSTREAM_SUBJECTS="categories.update.>"
JETSTREAM_MAX_BYTES=1048576

DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/postgres
DATABASE_POOL_MAX_SIZE=50
# Used in tests to remove the database prefix from DATABASE_URL and replace it with a random database name.
DATABASE_NAME=postgres

LOKI_URL=http://localhost:3100
OPENTELEMETRY_COLLECTOR_HOST=http://localhost:4317
SENTRY_DSN=http://some.sentry.dsn

REDIS_DSN=redis://localhost:6379
REDIS_IS_CLUSTER=false
REDIS_POOL_MAX_CONNECTIONS=50

# Configures which modules `tracing_subscriber` should emit logs for.
#
# This variable is read by `tracing_subscriber`, not the application itself, so it won't appear on the `Settings` struct.
#
# The value here enables log messages from the backend application as well as log messages emitted for incoming requests.
RUST_LOG=api_categories=debug,tower_http=info,sqlx=info,info

QUERY_LIMIT=250

# vi:ft=sh
