APP_ENVIRONMENT=development

NATS_URL=0.0.0.0:4222
EVENT_PUBLISHING_SERVICES=categories
CATEGORIES_STREAM_NAME=categories
CATEGORIES_STREAM_SUBJECTS="categories.update.>"
CATEGORIES_STREAM_MAX_BYTES=1048576

LOKI_URL=http://localhost:3100

REDIS_DSN=redis://localhost:6379
REDIS_IS_CLUSTER=false
REDIS_POOL_MAX_CONNECTIONS=50

# Configures which modules `tracing_subscriber` should emit logs for.
#
# This variable is read by `tracing_subscriber`, not the application itself, so it won't appear on the `Settings` struct.
#
# The value here enables log messages from the backend application as well as log messages emitted for incoming requests.
RUST_LOG=cache_service=debug,tower_http=info,sqlx=info

QUERY_LIMIT=250

# vi:ft=sh
